@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  color: #516171;
  font-family: "Barlow", sans-serif;
}

/*  -----GLOBAL VARIABLES------ */

:root {
  --blue-color: #00205b;
  --red-color: #ff0000;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #f6f6f6;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
  --fw-bolder: 700;

  --fs-100: 0.75rem;
  --fs-200: 1.25;
  --fs-300: 0.65rem;
  --fs-400: 1.0625rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;
}

body {
  overflow-x: hidden;
}

.top-nav {
  background: #052c97;
  padding: 5px 0;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-left: 16px;
  color:#fff;
}

.top-nav i,
.top-nav span {
  color: #fff;
  vertical-align: middle;
}

.social-links i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  font-size:0.8rem;
  color: #fff;
  transition: all 0.4s ease;
}

.social-links i:hover {
  background: #fff;
  color: #052c97;
}

.nav-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  ----HEADER STYLING---- */

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: var(--light-color);
  width: 100%;
  height: 88px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.site-logo img {
  width: 90px;
  margin-top: 0.5em;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-row .fa {
  display: none;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--blue-color);
  font-weight: 600;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--red-color);
  display: block;
  margin: 4px auto;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}


.nav-links .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-links .dropdown-menu li {
  display: block;
  padding: 10px 20px;
}

.nav-links .dropdown-menu li a {
  color: var(--blue-color);
  font-weight: 400;
}

.nav-links .dropdown-menu li a:hover {
  background-color: #f9f9f9;
}

.btn {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  width: 150px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.3s;
}

.btn:hover {
  background: var(--blue-color);
  color: var(--light-color);
}

/*  ----END OF HEADER STYLING---- */

/* --- HERO CONTENT ---- */
.hero-img {
  width: 100%;
  height: 100vh;
 
    
}

.hero-content {
  width: 100%;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  color: var(--light-color);
  line-height: 1.2;
  margin-bottom: 0.7em;
}

.hero-content h3 {
  font-size: 2rem;
  color: var(--light-color);
  line-height: 1.2;
 
}



.hero-content h2 {
  font-size: 1.2rem;
  margin-bottom: 0.7em;
  color: var(--light-color);
}

.hero-content .btn-1 {
  background: var(--blue-color);
  color: var(--light-color);
}

.hero-content .btn-1:hover {
  background: #0b3f9f;
}

/* --- END OF HERO CONTENT ---- */




/* ----ABOUT STYLING---- */

.about-img{
  width:100%;
  height:400px;
    background-image:linear-gradient(rgba(24, 11, 140, 0.5), rgba(4, 34, 133, 0.5)),url('../images/about-img-2.jpg');
}

.title{
  color:var(--light-color);
  font-size:3rem;
  text-align:center;
  margin-top:1em;
}

.about-info{
  width:100%;
  text-align:center;
}



.about-info h2{
   font-size:1.3rem;
    margin-bottom:0.3em;
    color:var(--red-color)
}

.about-info h1{
    font-size:3rem;
    line-height:1.2;
    margin-bottom:0.3em;
}

.about-info h3{
    font-size:1rem;
    line-height:1.3;
    margin-bottom:0.8em;
}


.about-info p{
  line-height:1.7;
}


.target-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:3em;
  margin-top:3em;
}


.innovation{
  width:80%;
  text-align:center;
  margin:3em auto;
}


/* ------ OUR VISION AND MISSION STYLING ------- */

.vision {
  padding: 100px 0;
}

.vision-title {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.vision-title::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #004c7e;
  display: block;
  border-radius: 6px;
  margin: 5px auto;
}

.vision-title h1 {
  font-weight: 900;
  font-size: 40px;
  color: #004c7e;
}

.vision-title p {
  margin: 10px auto;
  line-height: 25px;
}

.vision-title span {
  color: #000;
}

.vision-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 4% 8%;
  gap: 30px;
  text-align: center;
}

.vision-info {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding: 25px 18px;
  border-radius: 10px;
  position:relative;
  
}


.vision-info img:hover {
  transform: scale(1.1);
}



.vision-info h2 {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 900;
  margin-top: 25px;
  color: #004c7e;
}

.vision-info p {
  line-height: 25px;
  font-size: 16px;
  color: #292929;
}





/* ------ END OF OUR VISION AND MISSION STYLING ------- */

/* ----END OF ABOUT STYLING---- */


/* -----SERVICES STYLING --- */
     .services-container{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:3em;
     
     }


     .services-info{
      width:100%;
      max-width:400px;
      padding:2em;
      height:250px;
      text-align:center;
        box-shadow:0px 0px 8px rgba(0,0,0,0.4)
     }


     .services-info h1{
        font-size:1.5rem;
     }
     .services-info p{
        font-size:1rem;
        margin-bottom:1em;
     }

.airline h1{
    text-align:center;
    margin-bottom:1em;
    font-size:2rem;
    color:var(--blue-color);
}







/* -----END OF SERVICES STYLING --- */


/* ---- OUR HISTORY STYLING ------ */

.history-info{
  text-align:center;
  margin-top:4em;
}


.history-info  h1{
     font-size:2rem;
}

.history-info p{
  width:100%;
  margin:auto;
}





/* ---- END OF OUR HISTORY STYLING ------ */































/* -------FOOTER STYLING ------ */

footer{
  background:var(--blue-color);
  padding:80px 0px;
  position:relative;

}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:3em;
}


.footer-info p{
  color:var(--light-color);
  padding:1em 0;
  text-align:justify;
  font-size:1rem;
}

.footer-info:nth-child(2){
  margin-left:4em;
}


.footer-info h2{
  color:var(--light-color);
  font-weight:900;
}


.footer-info ul{
  list-style:none;
 
}


.footer-info ul li{
  margin:0.9em 0;
}

.footer-info ul li a{
  font-size:1.1rem;
  color:var(--light-color);
}

.footer-info ul li a:hover{
  color:var(--red-color);
}

.footer-info .icons i{
    color:var(--red-color);
   
}

.footer-info span{
  color:var(--light-color);
  margin-left:0.5em;
  font-size:1.1em;
}

.copy-right{
  width:100%;
  height:80px;
  margin-top:2em;
  position:absolute;
  background:#021334;
}


.copy-right p{
  text-align:center;
  color:#fff;
  font-size:1rem;
  margin-top:2em;
}

/* -------END OF  FOOTER STYLING ------ */







































































/* ---- RESPONSIVENESS ----- */

@media (max-width: 992px) {
  .container {
    width: 90%;
  }

  .top-nav p{
    color:var(--light-color);
  }

  .site-logo img {
    margin: 0;
    width: 60px;
  }

  .qoute-btn {
    display: none;
  }

  #nav-links ul {
    display: block;
    margin-top: 3em;
  }

  .header-row .fa {
    font-size: 2rem;
    display: block;
    position: absolute;
    right: 5%;
    top: 12%;
    cursor: pointer;
    padding: 15px 12px;
    color: #000;
  }

  .header-row .fa-close {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 3px;
  }

  #nav-links {
    background: var(--blue-color);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    position: fixed;
    text-align: left;
    z-index: 1;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
  }

  nav ul li {
    display: block;
    padding: 0.7em 0;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li a:after {
    display: none;
  }

  nav ul li a:hover {
    color: var(--red-color);
  }

  .site-logo img {
    width: 100px;
  }

  .header-row {
    margin-top: 1em;
  }

  .hero-content h1 {
    font-size: 2.1em;
  }

  .nav-details {
    flex-direction: column;
    text-align: center;
  }

  .top-nav p {
    font-size: 0.7rem;
  }

  .nav-info {
    margin-bottom: 0.9em;
  }

  .social-links i {
    width: 22px;
    height: 22px;
    font-size: 0.8rem;
    margin: 1em 0;
  }

  .hero-content h2 {
    font-size: 1em;
  }

  .hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }




  .footer-container{
     text-align:center;
}


.footer-info:nth-child(2){
  margin-left:0;
}

.footer-info p{
    max-width:350px;
    margin:auto;
    font-size:0.9em;
    text-align: center;
}


.services-container{
  grid-template-columns:repeat(1,1fr);
 }


 .about-container{
  grid-template-columns:repeat(1,1fr);
 }
 

 .target-container{
  grid-template-columns:repeat(1,1fr);
  text-align:center;
 
}



}


